* {
    margin:           1px;
    padding:          0px;
    box-sizing:       border-box;
}
html, body {
    overflow:         hidden;
    height:           100%;
    background-color: grey;
}
h2 {
    text-align:       center;
}
h3 {
    color:           black;
}
table {
    table-layout:     fixed; 
    border-collapse:  collapse;
    width:            100%; 
    height:           -moz-calc(100% - 57px);
    height:           -webkit-calc(100% - 57px);
    height:           calc(100% - 57px);
}
caption {
    border-radius:    5px;
    border:           5px solid white;
}
tbody {
    height:           -moz-calc(100% - 58px);
    height:           -webkit-calc(100% - 58px);
    height:           calc(100% - 58px);
}
tr {
    height:           100%;
}
td {
    border-radius:    5px;
    border:           5px solid white;
    height:           100%;
    vertical-align:   top;
    display:          inline-block;
    background-color: #369;
    color:            white;
}​
td:last-child {
    flex: 1;
    background: yellow;
    display:inline-block; /* to keep IE happy */
}
.rightColumn {
    width:            -webkit-calc(60% - 4px);
    width:            -moz-calc(60% - 4px);
    width:            calc(60% - 4px);
}
ol, ul {
    cursor:           pointer;
    list-style-type:  none;
    background-color: grey; 
    overflow-y:       auto; 
    border :          1px solid black; 
}

div {
    margin-bottom:    10px;
}

.center-container {
    display:          flex;
    justify-content:  center;
    align-items:      center;
    height:           30px;
}
audio {
    width:            -webkit-calc(100% - 4px);
    width:            -moz-calc(100% - 4px);
    width:            calc(100% - 4px);
}