* {
    border-radius:     5px;
    box-sizing:        border-box;
    margin:            0px;
    padding:           0px;
    overflow:          hidden;
    user-select:       none;
}
html, body {
    background-color: grey;
    height:            100%;
    min-height:        100%;
    width:             100%; 
}
body {
    display:           flex;
    flex-direction:    column;
}

    /* Page divisions: header, main, footer */
header, footer {
    flex:              none;
    margin:            5px;
    margin-bottom:     0px;
}
main {
    background-color:silver;
    flex:              auto;
}

    /* header content */
h1 {
    background-color:beige; 
    display:           inline-block;
    min-width:         calc(100% - 45px);
    text-align:        center;
    width:             calc(100% - 45px);
}
    /* footer content */
audio {
    min-width:         calc(100% - 45px);
    width:             calc(100% - 45px);
}
    /* header and footer images */
#aboutTitle, #fadeoutTitle {
    cursor:            pointer;
    width:             39px;
}

    /* Main content */
section {
    background-color:  grey;
    display:           flex;
    flex-flow:         column;
    height:            calc(100% - 10px);
    margin:            5px;
}
section:nth-child(1) {
    float:             left; 
    width:             38%; 
}
section:nth-child(2) { margin-left:      38%;         }

    /* Section divisions */
h2 {
    height:            29px;
    margin-left:       10px;
    min-height:        29px;
}
select             {
     margin-left:      20px; 
     color:            red;       
}
span               { margin-right:       20px;        }
button {
    margin-left:       20px;
    visibility:        hidden;
}

    /* Partituras dance style */
#styleList {
    background-color:beige; 
    cursor:            pointer;
    font-size:         16px;
}
    /* Milonga Title */
#milongaTitle {
    color:           red;
    cursor:            pointer;
}

    /* Lists: Partituras and Milonga */
ol, ul {
    background-color: lightgrey;
    flex:              1 1 auto;
    overflow-y:        auto;
    margin:            5px;
    padding:           5px;
}
    /*  List items are boxed */
li {
    border:            2px solid #000000;
    cursor:            pointer;
    margin-left:       10px;
    margin-bottom:     5px;
}
li:last-child      { margin-bottom:      0px;         }

    /* Partituras */
p                  { margin-left:        25px;        }
p[idref^="CO"]     { font-style:         italic;      }

    /* Highlights in Partituras */
.artist            { background-color: yellow;      }
.score             { background-color: orange;      }
    /* Highlights in Milonga */
.tanda             { background-color: lightgreen;  }
.tandaScore        { background-color: limegreen;   }

    /* Playing flags*/
    /*  Partituras */
.scorePlayed       { background-color: deepskyblue; }
.scorePlaying      { background-color: dodgerblue;  }
    /*  Milonga */
.tandaPlayed       { background-color: deepskyblue; }
.tandaPlaying      { background-color: lightblue;   }

/* -\\- */
