* {
    margin:            0px;
    padding:           0px;
    box-sizing:        border-box;
    border-radius:     5px;
    overflow:          hidden;
    user-select:       none;
}
html, body {
    width:             100%; 
    height:            100%;
    min-height:        100%;
    background-color: grey;
}
body {
    display:           flex;
    flex-direction:    column;
}

/* Page divisions */
h1, audio {
    margin:            5px;
    width:             calc(100% - 10px);
    min-width:         calc(100% - 10px);
    flex:              none;
}
h1 {
    background-color:beige; 
    cursor:            pointer; 
    text-align:        center;
}
main {
    flex:              auto;
    background-color:silver;
}

/* Left and right Sections */
section {
    display:           flex;
    flex-flow:         column;
    margin:            5px;
    height:            calc(100% - 10px);
    background-color:  grey;
}
section:nth-child(1) {
    width:             38%; 
    float:             left; 
}
section:nth-child(2) {
    margin-left:       38%; 
}

/* Section divisions */
h2 {
    text-align:        center;
    height:            29px;
    min-height:        29px;
}
#milonga {
    cursor:            context-menu;
}
div {
    flex:              1 1 auto;
    background-color: silver; 
    margin:            5px;
}

/* Scores Section: Dance Style */
#tangoStyle {
    cursor:            pointer;
    color:           red;
}
#tangoStyleList {
    border:            4px solid #FF0000;
    position:          absolute;
    background-color:beige; 
    cursor:            pointer;
    font-weight:       normal;
}

/* Div headers */
h3 {
    margin-left:       10px;
}
span {
    margin-left:       20px;
    margin-right:      10px;
}
span:nth-child(1) {
    margin-right:       40px;
}
span p {
    margin:            0px;
}

/* Tandas input controls */
button {
    margin-left:       10px;
    margin-right:      10px;
    border:            1px solid black;
    visibility:        hidden;
}
/* Main Lists */
ul {
    cursor:            default;
    background-color: grey;
    margin:            5px;
    height:            calc(100% - 34px);
    max-height:        calc(100% - 34px);
    overflow-y:        auto;
}
/*  Boxed first-level list item */
li {
    cursor:            pointer;
    box-sizing:        border-box;
    border-radius:     5px;
    border:            2px solid #000000;
    margin-bottom:     5px;
}
p {
    margin-left:       25px;
}
p[idref^="CO"] {
    font-style:        italic;
}

/* Highlights in Scores */
.artist {
    background-color:yellow;
}
.score {
    background-color:orange;
    font-weight:       bold;
}
/* Highlights in Tandas */
.tanda {
    background-color:lightgreen;
}
.tandaScore {
    background-color:limegreen;
    font-weight:       bold;
}

/* Playing flags*/
/*  Scores */
.scorePlayed {
    background-color:deepskyblue;
}
.scorePlaying {
    background-color: dodgerblue;
}
/*  Tandas */
.tandaPlayed {
    background-color: deepskyblue;
}
.tandaPlaying {
    background-color: lightblue;
}

/* -\\- */
